/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html, body {
  font-family: "Roboto", sans-serif;
  color: rgba(253, 250, 250, 0.993);
}

body {
  max-width: 1500px;
  margin: 0 auto;
  background-color: rgba(61, 58, 58, 0.993);
}

section {
  display: flex;
  margin: 0 0 20em 0;
  background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  overflow: hidden;
}

h1, h2, h3, h4, h5 {
  font-family: sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}

h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}

p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  width: 100%;
  max-width: 100%;
}

button {
  cursor: pointer;
}

.navbar {
  width: 77%;
  position: absolute;
  z-index: 1;
  margin: 1% auto;
  max-width: 500px;
}
@media screen and (max-width: 450px) {
  .navbar {
    bottom: 0;
    right: 0;
    width: 40%;
    height: 45%;
    margin: 0 2em 0 0;
  }
  @supports (-webkit-touch-callout: none) {
    .navbar {
      height: 40%;
    }
  }
}
.navbar nav {
  display: flex;
  justify-content: space-around;
  padding: 3em 0;
}
@media screen and (max-width: 450px) {
  .navbar nav {
    flex-direction: column;
    align-content: space-between;
    height: 70%;
  }
  @supports (-webkit-touch-callout: none) {
    .navbar nav {
      height: 0%;
    }
  }
}
.navbar nav a {
  text-decoration: none;
  color: #E1DCC1;
  border: 1px solid #E1DCC1;
  border-radius: 50px;
  padding: 0.5em 1em;
  font-size: 2rem;
  text-align: center;
  font-family: "Major Mono Display", monospace;
}
@supports (-webkit-touch-callout: none) {
  .navbar nav a {
    margin-bottom: 2em;
  }
}
@supports (-webkit-touch-callout: none) {
  .navbar nav a:first-child {
    margin-top: 10em;
  }
}
.navbar nav a:hover {
  background: #E1DCC1;
  color: #1280a1;
}

.landing-container {
  background-color: #5F73C1;
  background-image: url(../image/landing/headshot.jpg);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}
@media screen and (max-width: 450px) {
  .landing-container {
    background-position: right top;
    background-size: 80%;
  }
  @supports (-webkit-touch-callout: none) {
    .landing-container {
      background-size: 70%;
      height: 100vh;
      /* CSS specific to iOS devices */
    }
  }
}
.landing-container #title-svg {
  position: absolute;
  z-index: 2;
  top: 15%;
  width: 50%;
  margin-left: 3em;
  max-width: 632px;
}
@media screen and (min-width: 450px) {
  .landing-container #title-svg {
    top: 30%;
  }
}
@media screen and (min-width: 730px) {
  .landing-container #title-svg {
    top: 35%;
  }
}
.landing-container #landing-svg {
  width: 100%;
}
@supports (-webkit-touch-callout: none) {
  .landing-container #landing-svg {
    /* CSS specific to iOS devices */
  }
}

#W, #e2, #b, #D, #e3, #v, #e4, #l, #o2, #p, #e5, #r, #landing-bg-curve, #adam, #mathieson, .navbar nav a {
  opacity: 0;
}

.projects {
  background-color: #BCD3DB;
  height: 100vh;
  max-height: 100%;
  min-height: 670px;
}
.projects #project-container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  padding: 2em;
  justify-content: space-around;
}
.projects #project-container .title-container {
  max-width: 80%;
}
.projects #project-container .title-container #endrsd-title,
.projects #project-container .title-container #wmp-title {
  display: none;
}
@media screen and (max-width: 450px) {
  .projects #project-container .title-container .full-title {
    width: 100%;
    display: none;
  }
}
.projects #project-container .title-container .stack-title {
  display: none;
}
@media screen and (max-width: 450px) {
  .projects #project-container .title-container .stack-title {
    display: block;
    width: 100%;
  }
}
.projects #project-container .content-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 730px) {
  .projects #project-container .content-container {
    flex-direction: row;
    padding: 1em 2em 0 2em;
  }
}
@media screen and (min-width: 900px) {
  .projects #project-container .content-container {
    padding: 2em 4em 0 4em;
  }
}
.projects #project-container .content-container .image-container {
  display: flex;
  justify-content: center;
  padding: 1em;
  max-height: 475px;
  width: 65%;
}
@media screen and (max-width: 730px) {
  .projects #project-container .content-container .image-container {
    width: 100%;
  }
}
.projects #project-container .content-container .image-container img {
  object-fit: contain;
  margin: 1em;
}
.projects #project-container .content-container .description-container {
  color: #073D4F;
  padding: 0 1em 0 1em;
  flex: 1;
}
@media screen and (min-width: 730px) {
  .projects #project-container .content-container .description-container {
    padding: 3em;
  }
}
.projects #project-container .lower-container {
  display: flex;
  justify-content: space-between;
  margin: 0 1em 0 1em;
}
@media screen and (max-width: 730px) {
  .projects #project-container .lower-container {
    flex-direction: column;
  }
}
.projects #project-container .lower-container .tech-logo {
  max-width: 500px;
  max-height: 100px;
  margin: 0 2em 3em 2em;
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.projects #project-container .lower-container .tech-logo div {
  display: none;
  height: 100%;
  padding: 0.5em;
}
.projects #project-container .lower-container .tech-logo div svg {
  height: 100%;
}
.projects #project-container .lower-container .next-control {
  align-self: flex-end;
  height: 50px;
}
.projects #project-container .lower-container .next-control button {
  font-size: 2rem;
  z-index: 2;
  border: 0;
  font-family: "Major Mono Display", monospace;
  margin-right: 1em;
  background-color: inherit;
  color: #073D4F;
  cursor: pointer;
  text-align: left;
}
.projects #project-container .lower-container .next-control .chevron-svg {
  position: relative;
  top: -50px;
  left: 110px;
  cursor: pointer;
  height: inherit;
  width: 30px;
}
.projects #project-container .lower-container .next-control .chevron-svg svg {
  height: 100%;
}

#node-n,
#node-o,
#node-d,
#node-e,
#node-js-and-tm,
#node-1,
#node-2,
#node-3,
#node-4,
#edge-1,
#edge-2,
#edge-3 {
  opacity: 0;
}

#react-logo,
#redux-logo {
  scale: 0.75;
}

.forms {
  background-color: #f79a9a;
}
.forms #west-face {
  display: none;
}

/*# sourceMappingURL=index.css.map */
