.forms {
    background: $bg-contact;
    padding: 1em;
    
    #west-face {
        display: none;
    }
    #east-face {
        // display: none;
    }
    .contact-form-container {
        // background: $bg-contact;
        padding: 1em;
    }
}

