.home-container {
    // display: none;
    height: 100vh;
    background-image: url('../image/beach-bench-boardwalk-clouds-462024\ 1.png');
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    overflow: hidden;

    .banner {
        // display: none; 
        max-width: 600px;
        min-width: 300px;
        width: 40%;
        height: 350px;
        background: inherit;
        position: absolute;
        overflow: hidden;
        border-radius: 5px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: fade-in 1s ease-out;
    }
    .banner:before {
        width: 650px;
        height: 400px;
        content: '';
        position: absolute;
        top: -25px;
        left: -25px;
        bottom: 0;
        right: 0;
        background: inherit;
        box-shadow: inset 0 0 0 500px rgba(255, 255, 255, 0.2);
        filter: blur(10px);
    }
    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 60px;
        font-family: 'Comfortaa', cursive;
        line-height: 1.5em;
        color: #FF9700;
        animation: fade-in-font 3s ease-out;
    }

    @keyframes fade-in {
        from {
            opacity: 0;;
        }
        to {
            opacity: 1;;
        } 
    }
    @keyframes fade-in-font {
        
        0% {
            opacity: 0;;
        }
        20% {
            opacity: 0;;
        }
        100% {
            opacity: 1;
        }
    }

    .menu-right {
        // display: none;
        background: inherit;
        border-radius: 500px;
        height: inherit;
        position: relative;
        right: -80%;
        overflow: hidden;

        nav {
            display: flex;
            flex-direction: column;
            top: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
    
            a {
                text-decoration: none;
                text-align: center;
                font-family: 'Comfortaa', cursive;
                color: rgb(54, 54, 52);
                margin-left: 15em;
                margin-bottom: 7em;
                border: 2px solid #FF9700;
                border-radius: 30px;
                width: 110px;
                padding: .5em;

                h2 {
                    padding: 0;
                    font-size: 2rem;
        
                }
            }
            a:first-child {
                margin-left: 20em;
            }
            a:last-child {
                margin-left: 20em;
                margin-bottom: 0;
            }
            a:hover {
                color: rgb(243, 241, 239);
                background: #FF9700;
            }
        }
    }
    .menu-right:before {
        content: '';
        height: 100%;
        width: 100%;
        left: -25%;
        border-radius: 50%;
        position: absolute;
        background: inherit;
        box-shadow: inset 0 0 0 500px rgba(255, 255, 255, 0.2);
        filter: blur(10px);
    }
}