
.navbar {
    // border: 1px solid white;
    width: 77%;
    position: absolute;
    z-index: 1;
    margin: 1% auto;

    nav {
        display: flex;
        justify-content: space-around;
        padding: 3em 0;

        a {
            text-decoration: none;
            color: $primary-font;
            border: 1px solid $primary-font;
            border-radius: 50px;
            padding: 1em 2em;
            font-size: 1.2rem;
        }

        a:hover {
            background: $primary-font;
            color: rgb(18, 128, 161);
        }


        
    }

    
    
}

.landing-container {
    background-image: url(../image/landing/headshot.jpg);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    // display: flex;
    // flex-direction: column;
    max-width: 1500px;
    min-height: 450px;
    width: 100%;

    @media screen and (max-width: 620px) {
        background-position: right bottom;
        background-position-x: 150%;
        
        // background-size: 75%;
        // display: none;
    }
    
    svg {
        width: 100%;
        height: 100%;
    }

    // .bottom-bg {
    //     flex: 1;
    //     background: linear-gradient(293.97deg, #24D0BF 0%, #8B2DC3 100%);
    // }
}

#W, #e2, #b, #D, #e3, #v, #e4, #l, #o2, #p, #e5, #r, #landing-bg-curve, #adam, #mathieson {
    opacity: 0;
}