
.navbar {
    // border: 1px solid whi te;
    width: 72%;
    position: absolute;
    z-index: 1;
    margin: 1% auto;

    nav {
        display: flex;
        justify-content: space-around;
        padding: 3em 0;

        a div {
        // border: 1px solid #E1DCC1;
        // border-radius: 50px;
        // max-width: 80px;
        // height: 20px;
        padding: 2em;


        svg {
            // width: 100%;
        }

    }
    }

    
    
}

.landing-container {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    
    svg {
        width: 100%;
        height: auto;
    }

    .bottom-bg {
        flex: 1;
        background: linear-gradient(293.97deg, #24D0BF 0%, #8B2DC3 100%);
    }
}

#W, #e2, #b, #D, #e3, #v, #e4, #l, #o2, #p, #e5, #r, #landing-bg-curve, #adam, #mathieson {
    opacity: 0;
}