.overlay {
    // display: none;
    height: 100vh;
    background-image: url('../image/beach-bench-boardwalk-clouds-462024\ 1.png');
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    overflow: hidden;

    .banner {
        // display: none;
        max-width: 600px;
        min-width: 300px;
        width: 40%;
        height: 350px;
        background: inherit;
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: fade-in 1s ease-out;
    }
    .banner:before {
        width: 650px;
        height: 400px;
        content: '';
        position: absolute;
        top: -25px;
        left: -25px;
        bottom: 0;
        right: 0;
        background: inherit;
        box-shadow: inset 0 0 0 500px rgba(255, 255, 255, 0.2);
        filter: blur(10px);
    }
    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 60px;
        font-family: 'Comfortaa', cursive;
        line-height: 1.5em;
        color: #FF9700;
        animation: fade-in-font 3s ease-out;
    }

    @keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        } 
    }
    @keyframes fade-in-font {
        
        0% {
            opacity: 0;
        }
        20% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    #arrow {
        cursor: pointer;
        position: relative;
        // top: 50vh;
        // transform: translate(-50, -50%);
        left: 74%;
        width: 80px;
        height: 60px;
        border-radius: 50px;

    }

    // .burger div {
    //     background: #fff;
    //     width: 30px;
    //     height: 4px;
    //     margin: .5em;
    // }

    .menu-right {
        // display: none;
        background: inherit;
        border-radius: 500px;
        height: 100%;
        position: relative;
        // z-index: 2;
        top: 0px;
        right: -80%;
        overflow: hidden;
        transform: translateX(20%);
        transition: transform 0.3s linear;
        

        nav {
            display: flex;
            flex-direction: column;
            top: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
    
            a {
                // display: none;
                text-decoration: none;
                text-align: center;
                color: rgb(54, 54, 52);
                margin-left: 15em;
                margin-bottom: 7em;
                border: 2px solid #FF9700;
                border-radius: 30px;
                width: 110px;
                padding: .5em;
                opacity: 0;
                background: #ffbc57;

                
                h2 {
                    font-family: 'Comfortaa', cursive;
                    padding: 0;
                    font-size: 1.75rem;
        
                }
            }
            a:first-child {
                margin-left: 20em;
            }
            a:last-child {
                margin-left: 20em;
                margin-bottom: 0;
            }
            a:hover {
                // color: rgb(243, 241, 239);
                background: #FF9700;
                filter: brightness(120%);
            }
        }
    }
    .menu-right:before {
        content: '';
        height: 100%;
        width: 100%;
        left: -25%;
        border-radius: 50%;
        position: absolute;
        background: inherit;
        box-shadow: inset 0 0 0 500px rgba(255, 255, 255, 0.2);
        filter: blur(10px);
    }

    .menu-active {
        transform: translateX(0%);
        // animation: menu-open 1s ease-in-out;

        nav a {
            // opacity: 1;
        }
    }

    @keyframes tabs-fade-in {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }
}