.projects {
    background-color: $bg-projects;
    height: 100vh;
    max-height: 100%;
    // max-width: 1400px;
    // margin: 0 auto;

    // @media screen and (min-width: $desktop-width) {
    //     height: 100vh;
        
    // }

    #wmp {
        display: flex;
        flex-direction: column;
        // border: 1px solid orange;
        padding: 2em;
        justify-content: space-around;

        .title-container {
            // display: none;
            max-width: 80%;
            // border: 1px solid blue;
            // margin: 1em 0 0 1em;

            .full-title {
                @media screen and (max-width: $mobile-width) {
                    // height: 100%;
                    width: 100%;
                    display: none;
                }
            }
    
            .stack-title {
                display: none;
    
                @media screen and (max-width: $mobile-width) {
                    display: block;
                    width: 100%;
                }
            }
        }

        .content-container {
            // border: 1px solid red;
            display: flex;
            flex-direction: column;
            // flex: 0;
            // max-height: 80%;

            @media screen and (min-width: $tablet-width) {
                flex-direction: row;
                padding: 1em 2em 0 2em;
            }
            @media screen and (min-width: $desktop-width) {
                // flex-direction: row;
                padding: 2em 4em 0 4em;
            }

            .image-container {
                // border: 1px solid red;
                display: flex;
                justify-content: center;
                padding: 1em;
                max-height: 475px;
                // max-width: 680;
                // flex: 1;
                width: 65%;
                
                @media screen and (max-width: $tablet-width) {
                    width: 100%;
                }

                img {
                    object-fit: contain;
                    margin: 1em;
                    width: 30%;
                }
            }
    
            .description {
                color: $primary-font;
                padding: 0 1em 0 1em;
                flex: 1;

                @media screen and (min-width: $tablet-width) {
                    padding: 3em;
                }
            }
        }

        .lower-container {
            display: flex;
            justify-content: space-between;
            margin: 0 1em 0 1em;
            // border: 1px solid white;
            
            @media screen and (max-width: $tablet-width) {
                flex-direction: column;
                // align-items: flex-end;
            }

            
            .tech-logo {
                // border: 1px solid green;
                max-width: 573px;
                // max-height: 150px;
                margin: 0 2em 3em 2em;
                flex: 1;
                display: flex;
                justify-content: space-around;
                align-items: center;
                
                div {
                    // display: none;
                    // max-height: 70px;
                    padding: 1em;
                    // border: 1px solid pink;
                }

            }
            .next-control {
                // border: 1px solid yellow;
                max-width: 180px;
                align-self: flex-end;
            }
        }


    }
}