.projects {
    background-color: $bg-projects;
    height: 100vh;

    #wmp {
        display: flex;
        flex-direction: column;

        .title-container {
            // display: none;
            width: 80%;
            border: 1px solid blue;
            margin: 1em 0 0 1em;
            // min-height: 100px;

            .full-title {
                @media screen and (max-width: $mobile-width) {
                    // height: 100%;
                    width: 100%;
                    display: none;
                }
            }
    
            .stack-title {
                display: none;
    
                @media screen and (max-width: $mobile-width) {
                    display: block;
                    width: 100%;
                }
            }
            // #title-wmp {
    
            //     @media screen and (max-width: $mobile-width) {
            //         visibility: hidden;
            //     }
    
            // }
            
        }

        .image-container {
            border: 1px solid red;
            display: flex;
            justify-content: center;
            padding: 1em;
            // width: 100%;

            img {
                margin: 1em;
                width: 30%;
            }
        }

        .content-container {
            color: $primary-font;
        }

    }
}