#node-n,
#node-o,
#node-d,
#node-e,
#node-js-and-tm,
#node-1,
#node-2,
#node-3,
#node-4,
#edge-1,
#edge-2,
#edge-3
{
    opacity: 0;
}

#react-logo,
#redux-logo
{
    scale: .75;
}
#material-ui-logo
{
    scale: .80;
}