// Media queries
$mobile-width: 450px;
$tablet-width: 730px;
$desktop-width: 900px;

//colors
$white: #E1DCC1;
$primary-font: #073D4F;
// $primary-font: red;
$bg-landing: #5F73C1;
$bg-projects: #BCD3DB;
$bg-contact: linear-gradient(234.56deg, #51E3EC 0.75%, #A16DC6 100.51%);

// $submit-green: #30F4B2;
$submit-green: #65DED9;
;

//fonts
$header: 'Major Mono Display', monospace;
$primary: 'Roboto', sans-serif;
