.visualize-data {
    display: flex;
    height: 100vh;
    background-image: url(../image/visualize_data/vis_data_bg.svg);
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    overflow: hidden;

    .posts-container {
        // display: none;
        padding: 3em;
        height: inherit;
        border: 1px solid red;
        width: 40%;
        display: flex;
        justify-content: space-between;

        #post-1 {

        }
        #post-2 {
            align-self: center;
        }
        #post-3 {
            align-self: flex-end;
        }
    }
    .text-display {
        width: 60%;
        padding: 2em;
        // height: 0;
        // position: relative;
        // border: 2px solid orange;

        // .text {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        // }

        .text:last-child {
            padding-top: 3em;
            // transform: scale(1);

            path {
                // transition: all 1s;
                // stroke-dasharray: 1, 20; 
                // stroke-dashoffset: -13;

            }

            // border: 1px solid blue;
            // background-color: red;
            // width: 100%;
            // height: auto;
            // stroke: red;
            // fill: red;
        //     #temp {
        //     border: 1px solid #fff;
        // }
        }
        #text-2 {
            // max-width: 50%;
            // width: 100%;

        }
    }

}